body {
  color: gray;
  font-family: courier;
}

.btn,
.btn-large,
.btn-small {
  background-color: var(--primary-color);
  font-family: 'Playfair Display', serif;
  font-family: var(--primary-font);
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: var(--primary-color-darken-1);
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav .brand-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-family: var(--secondary-font);
  font-size: 1.6rem;
}

.logo-em {
  color: var(--primary-color);
  font-family: 'Playfair Display', serif; /* IE fallback */
  font-family: var(--primary-font);
  font-style: italic;
  font-size: 1.9rem;
}
