:root {
  --black: #404040;
  --primary-color: #81d4fa; /* blue */
  --primary-color-lighten-1: #b3e5fc;
  --primary-color-darken-1: #4fc3f7;
  --secondary-color: #ff7043; /* orange */
  --secondary-color-lighten-1: #ff8a65;
  --secondary-color-darken-1: #ff5722;
  --tertiary-color: #ffeb3b;
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Josefin Sans', sans-serif;
}

/* li {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border-right: 2px solid green;
  border-left: 2px solid green;
}

ul {
  list-style-type: none;
  background-color: rgb(70,70,70);
  margin: 0;
  padding: 0;
}

li:hover {
  background-color: orange;
} */
    
/* #special {
  margin-left:-5px;
} */

nav .brand-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-family: var(--secondary-font);
  font-size: 1.6rem;
}

.logo-em {
  color: var(--primary-color);
  font-family: 'Playfair Display', serif; /* IE fallback */
  font-family: var(--primary-font);
  font-style: italic;
  font-size: 1.9rem;
}
