/*:root {
  --black: #404040;
  --primary-color: #81d4fa; 
  --primary-color-lighten-1: #b3e5fc;
  --primary-color-darken-1: #4fc3f7;
  --secondary-color: #ff7043; 
  --secondary-color-lighten-1: #ff8a65;
  --secondary-color-darken-1: #ff5722;
  --tertiary-color: #ffeb3b;
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Josefin Sans', sans-serif;
}*/

li {
  display: inline-block;
  padding: 10px 20px;
  border-right: 2px solid black;
  border-left: 2px solid black;
  margin-left:-5px;
}

ul {
  list-style-type: none;
  background-color: #FFA6D0;
  margin: 0;
  padding: 0;
}

li:hover {
  background-color: gray;
}
    
#special {
  position: relative;
  float: right;
}

.top {
  color: white;
}

/*.btn,
.btn-large,
.btn-small {
  background-color: var(--primary-color);
  font-family: 'Playfair Display', serif;
  font-family: var(--primary-font);
}

.btn:hover,
.btn-large:hover,
.btn-small:hover {
  background-color: var(--primary-color-darken-1);
}

.section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

nav .brand-logo {
  font-family: 'Josefin Sans', sans-serif;
  font-family: var(--secondary-font);
  font-size: 1.6rem;
}

.logo-em {
  color: var(--primary-color);
  font-family: 'Playfair Display', serif;  /IE fallback/ 
  font-family: var(--primary-font);
  font-style: italic;
  font-size: 1.9rem;
}*/
