:root {
  --text-color: #404040;
  --primary-color: #a3a3a3; 
  --primary-color-lighten-1: #cfcfcf;
  --primary-color-darken-1: #4f4e4e;
  --secondary-color: #0a0078; /* #FFA6D0*/
  --secondary-color-lighten-1: #0073ff; /* #edc2d7 */
  --secondary-color-darken-1: #050038; /* #bd8ca3 */
  --tertiary-color: #214c96;
  --primary-font: 'Roboto Slab', serif;
  --secondary-font: 'Josefin Sans', sans-serif;
  --primary-font-size: 50 px;
}

* {
  font-family: var(--secondary-font);
  font-size: var(--primary-font-size);
  color: var(--text-color);
}

/* Special styles for screens the size of a phone */
/*@media (max-width: 375px) {
  nav {
    height: 60px;
    line-height: 60px;
  }
}*/

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

.secondary-bg {
  background-color: var(--secondary-color);
}

nav ul a {
  font-size: 17px;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

nav {
  height: 70px;
  line-height: 70px;
}

nav .sidenav-trigger i
{
  height: 70px;
  line-height: 70px;
  color: white;
}

.no-shadow {
  box-shadow: none;  
}

.cta-container {
  position: relative;
  text-align: center;
  background-image: url("https://live.staticflickr.com/65535/50023320046_5d398d1e42_h.jpg");
  bottom: 38px;
}

/*.hero-image {
  width: 100%;
  object-fit: cover;
}*/

.contain {
  /*position: absolute;*/
/*  top: 43%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  width: 75%;
  margin: auto;
  padding-top: 170px;
  padding-bottom: 280px;
}

.secondary-text-lighten {
  color: var(--secondary-color-lighten-1);
}

.beginning {
  font-size: 100px;
  font-family: 'Roboto Slab', serif;
  margin-bottom: 7px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5) and (max-width: 735px), only screen and (max-width: 735px) and (min-resolution: 1.5dppx), only screen and (max-width: 735px) and (min-resolution: 144dpi) {
  .cta-container{
    background-image: url("https://live.staticflickr.com/65535/50024948852_f58d5f5bbc_z.jpg");
  }
  .contain {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .beginning {
    font-size: 80px;
  }
}
