:root {
  --text-color: #404040;
  --primary-color: #a3a3a3; 
  --primary-color-lighten-1: #cfcfcf;
  --primary-color-darken-1: #4f4e4e;
  --secondary-color: #0a0078; /* #FFA6D0*/
  --secondary-color-lighten-1: #0073ff; /* #edc2d7 */
  --secondary-color-darken-1: #050038; /* #bd8ca3 */
  --tertiary-color: #214c96;
  --primary-font: 'Roboto Slab', serif;
  --secondary-font: 'Josefin Sans', sans-serif;
  --primary-font-size: 50 px;
}

html {
  font-family: var(--secondary-font);
  font-size: var(--primary-font-size);
  color: var(--text-color);
}

/* Special styles for screens the size of a phone */
/*@media (max-width: 375px) {
  nav {
    height: 60px;
    line-height: 60px;
  }
}*/

.navbar-fixed {
  height: 63px;
  line-height: 63px;
}

nav .brand-logo {
  font-size: 29px;
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

.secondary-bg {
  background-color: var(--secondary-color);
}

nav ul a {
  font-size: 17px;
}

nav ul a:hover {
  background-color: rgba(0, 0, 0, 0.2);
}

nav {
  height: 63px;
  line-height: 63px;
}

nav .sidenav-trigger i
{
  height: 63px;
  line-height: 63px;
  color: white;
}

.no-shadow {
  box-shadow: none;  
}

.cta-container {
  text-align: center;
  background-image: url("https://live.staticflickr.com/65535/50023320046_5d398d1e42_h.jpg");
  background-repeat: no-repeat;
  background-position: center 40px;
  background-attachment: fixed;
  background-size: cover;
}

.contain {
  width: 75%;
  margin: auto;
  padding-top: 140px;
  padding-bottom: 220px;
  font-family: 'Roboto Slab', serif;
}

.secondary-text-lighten {
  color: var(--secondary-color-lighten-1);
}

.beginning {
  font-size: 100px;
  margin-bottom: 5px;
}

@media only screen and (max-width: 480px) {
  .cta-container{
    background-image: url("https://live.staticflickr.com/65535/50025194407_fcb91341b2_z.jpg");
    background-repeat: no-repeat;
    background-position: center 60px;
    background-attachment: fixed;
    background-size: contain;
  }
  .contain {
    padding-top: 130px;
    padding-bottom: 130px;
  }
  .beginning {
    font-size: 68px;
    margin-top: 0px;
    margin-bottom: 0;
  }
}

.cta-text {
  font-size: 20px;
}

#whatwedo {
  padding-top: 60px;
  padding-bottom: 60px;
  font-family: 'Roboto Slab', serif;
}

.content-head {
  font-size: 40px;
  padding-bottom: 20px;
}

.events {
  background-color: #75bfff;
}

#events {
  padding-top: 60px;
  padding-bottom: 200px;
  font-family: 'Roboto Slab', serif;
}

.wwd-text {
  font-size: 18px;
}

.pictures {
  background-color: #b0b0b0;
}

.pictures img {
  width: 350px;
}

#whoweare {
  padding-top: 60px;
  padding-bottom: 200px;
  font-family: 'Roboto Slab', serif;
}
