:root {
  --text-color: #404040;
  --primary-color: #a3a3a3; 
  --primary-color-lighten-1: #cfcfcf;
  --primary-color-darken-1: #4f4e4e;
  --secondary-color: #FFA6D0;
  --secondary-color-lighten-1: #edc2d7;
  --secondary-color-darken-1: #bd8ca3;
  --tertiary-color: #214c96;
  --primary-font: 'Playfair Display', serif;
  --secondary-font: 'Josefin Sans', sans-serif;
  --primary-font-size: 50 px;
}

* {
  font-family: var(--secondary-font);
  font-size: var(--primary-font-size);
  color: var(--text-color);
}

/* Special styles for screens the size of a phone */
@media (max-width: 375px) {
  p {
    font-size: 18px;
  }
}

@media only screen and (min-width: 993px) {
  .container {
    width: 80%;
  }
}

.secondary-bg {
  background-color: var(--secondary-color);
}

nav ul a {
  font-size: 17px;
}

nav {
  height: 70px;
  line-height: 70px;
}

nav .sidenav-trigger i
{
  height: 70px;
  line-height: 70px;
  color: white;
}

.no-shadow {
  box-shadow: none;  
}

img {
  width: 100%;
}
